// Place all the styles related to the how_i_met_your_mothers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #09C;
  font-family: verdana, arial, helvetica, sans-serif;
   font-size: 16px;

}
h2{
color: #000080;

}
p{
color: #808000;  
}
